.div {
  max-width: 700px;
  margin-inline: auto;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  font-size: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    margin-block: 12rem 10rem;
  }

  @media (max-width: 400px) {
    h1 {
      font-size: 1.8rem;
    }
    margin-block: 12rem 10rem;
  }

  margin-block: 20rem 15rem;

  strong {
    transition: color 300ms ease;
    &:hover {
      color: var(--secondary-clr);
    }
  }
}
